<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partical/headercomponent'); %>
</head>

<body>
    <!-- Navbar Start -->
    <%- include('partical/menucomponent'); %>
        <!-- Navbar End -->


        <!-- Page Header Start -->
        <div
            class="page-header container-fluid bg-primary d-flex flex-column align-items-center justify-content-center">
            <h1 class="display-3 text-uppercase mb-3">Giới Thiệu</h1>
            <div class="d-inline-flex text-white">
                <h6 class="text-uppercase m-0"><a class="text-white" href="home">Home</a></h6>
                <h6 class="m-0 px-3">/</h6>
                <h6 class="text-uppercase m-0">About</h6>
            </div>
        </div>
        <!-- Page Header End -->


        <!-- About Start -->
        <div class="container-fluid pt-5">
            <div class="container pt-5">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <img class="img-fluid mb-4 mb-lg-0" src="static/img/about.jpg" alt="">
                    </div>
                    <div class="col-lg-6">
                        <h1 class="display-4 text-uppercase mb-4">Nền Tảng Dành Cho Cộng Đồng Thể Thao</h1>
                        <h5 class="text-uppercase text-primary mb-3">
                            Cập nhật thông tin, hoạt động và sự kiện thể thao trong một giao diện đơn giản, dễ sử dụng
                        </h5>
                        <p class="mb-4">
                            Website được xây dựng nhằm giới thiệu và cung cấp các nội dung liên quan đến thể thao như
                            tin tức,
                            lịch trình, hoạt động và sự kiện. Mục tiêu của nền tảng là tạo ra một không gian trực tuyến
                            thân thiện,
                            giúp người dùng dễ dàng theo dõi thông tin và kết nối với cộng đồng yêu thể thao.
                        </p>
                        <a href="contact" class="btn btn-primary text-uppercase py-3 px-5">Liên hệ</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->


        <!-- About Info Start -->
        <div class="container-fluid py-5">
            <div class="container pb-3">
                <div class="row">
                    <div class="col-lg-4 mb-2">
                        <div class="d-flex align-items-center bg-light rounded mb-4 px-5" style="height: 150px;">
                            <i class="fa fa-3x fa-map-marker-alt text-primary mr-3"></i>
                            <div class="d-flex flex-column">
                                <h5 class="text-uppercase">Địa chỉ</h5>
                                <p class="m-0">TP. Thủ Đức, TP. Hồ Chí Minh</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-2">
                        <div class="d-flex align-items-center bg-light rounded mb-4 px-5" style="height: 150px;">
                            <i class="fa fa-3x fa-envelope-open text-primary mr-3"></i>
                            <div class="d-flex flex-column">
                                <h5 class="text-uppercase">Email</h5>
                                <p class="m-0">sporttournament@example.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-2">
                        <div class="d-flex align-items-center bg-light rounded mb-4 px-5" style="height: 150px;">
                            <i class="fas fa-3x fa-phone-alt text-primary mr-3"></i>
                            <div class="d-flex flex-column">
                                <h5 class="text-uppercase">Điện thoại</h5>
                                <p class="m-0">+84 000 000 000</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Info End -->

        <!-- Footer Start -->
        <%- include('partical/footercomponent'); %>
            <!-- Footer End -->


            <!-- Back to Top -->
            <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-up"></i></a>


            <!-- JavaScript Libraries -->
            <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
            <script src="lib/easing/easing.min.js"></script>
            <script src="lib/waypoints/waypoints.min.js"></script>
            <script src="lib/owlcarousel/owl.carousel.min.js"></script>
            <script src="lib/isotope/isotope.pkgd.min.js"></script>
            <script src="lib/lightbox/js/lightbox.min.js"></script>

            <!-- Contact Javascript File -->
            <script src="mail/jqBootstrapValidation.min.js"></script>
            <script src="mail/contact.js"></script>

            <!-- Template Javascript -->
            <script src="js/main.js"></script>
</body>

</html>