<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partical/headercomponent'); %>
</head>

<body>
    <!-- Navbar Start -->
    <%- include('partical/menucomponent'); %>
        <!-- Navbar End -->


        <!-- Page Header Start -->
        <div
            class="page-header container-fluid bg-primary d-flex flex-column align-items-center justify-content-center">
            <h1 class="display-3 text-uppercase mb-3">Liên Hệ</h1>
            <div class="d-inline-flex text-white">
                <h6 class="text-uppercase m-0"><a class="text-white" href="home">Home</a></h6>
                <h6 class="m-0 px-3">/</h6>
                <h6 class="text-uppercase m-0">Contact</h6>
            </div>
        </div>
        <!-- Page Header End -->


        <!-- Contact Start -->
        <div class="container-fluid py-5 px-0">
            <h1 class="display-4 text-uppercase text-center mt-5 mb-5">Liên Hệ Với Chúng Tôi</h1>

            <div class="row mx-0">
                <div class="col-12 px-0" style="height: 500px;">
                    <div class="position-relative h-100">
                        <iframe class="position-relative w-100 h-100"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.999374492388!2d106.76046511458925!3d10.845832392274554!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175273f5a9b8c5f%3A0x4c6f7b6a4b0e5d6!2zVGjhu6cgxJDhu6ljLCBUUC4gSOG7kyBDaMOtIE1pbmg!5e0!3m2!1svi!2s!4v1700000000000"
                            frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
                        </iframe>
                    </div>
                </div>
            </div>

            <div class="row mx-0 justify-content-center" style="margin-top: -200px;">
                <div class="col-lg-6 col-md-8 col-sm-10 px-0">
                    <div class="contact-form bg-white rounded p-5">
                        <div id="success"></div>

                        <form name="sentMessage" id="contactForm" novalidate="novalidate">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="control-group">
                                        <input type="text" class="form-control bg-light border-0 p-4" id="name"
                                            placeholder="Họ và tên" required="required"
                                            data-validation-required-message="Vui lòng nhập họ và tên" />
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="control-group">
                                        <input type="email" class="form-control bg-light border-0 p-4" id="email"
                                            placeholder="Email" required="required"
                                            data-validation-required-message="Vui lòng nhập email" />
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                            </div>

                            <div class="control-group">
                                <input type="text" class="form-control bg-light border-0 p-4" id="subject"
                                    placeholder="Tiêu đề" required="required"
                                    data-validation-required-message="Vui lòng nhập tiêu đề" />
                                <p class="help-block text-danger"></p>
                            </div>

                            <div class="control-group">
                                <textarea class="form-control bg-light border-0 py-3 px-4" rows="5" id="message"
                                    placeholder="Nội dung tin nhắn" required="required"
                                    data-validation-required-message="Vui lòng nhập nội dung"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>

                            <div class="text-center">
                                <button class="btn btn-primary text-uppercase py-3 px-5" type="submit"
                                    id="sendMessageButton">
                                    Gửi Tin Nhắn
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <!-- Contact End -->

        <!-- Footer Start -->
        <%- include('partical/footercomponent'); %>
            <!-- Footer End -->


            <!-- Back to Top -->
            <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-up"></i></a>


            <!-- JavaScript Libraries -->
            <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
            <script src="lib/easing/easing.min.js"></script>
            <script src="lib/waypoints/waypoints.min.js"></script>
            <script src="lib/owlcarousel/owl.carousel.min.js"></script>
            <script src="lib/isotope/isotope.pkgd.min.js"></script>
            <script src="lib/lightbox/js/lightbox.min.js"></script>

            <!-- Contact Javascript File -->
            <script src="mail/jqBootstrapValidation.min.js"></script>
            <script src="mail/contact.js"></script>

            <!-- Template Javascript -->
            <script src="js/main.js"></script>
</body>

</html>