<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partical/headercomponent'); %>
</head>

<body>
    <!-- Navbar Start -->
    <%- include('partical/menucomponent'); %>
        <!-- Navbar End -->


        <!-- Header Start -->
        <div class="container-fluid bg-primary py-5 px-0" style="margin-bottom: 90px;">
            <div class="row mx-0 align-items-center">
                <div class="col-lg-6 px-md-5 text-center text-lg-left">
                    <h1 class="display-2 text-uppercase mb-3">
                        Nền Tảng Thể Thao Trực Tuyến
                    </h1>
                    <p class="text-dark mb-4">
                        Website cung cấp thông tin và nội dung liên quan đến các hoạt động thể thao,
                        giải đấu và sự kiện. Giao diện được thiết kế hiện đại, đơn giản và thân thiện,
                        giúp người dùng dễ dàng theo dõi và tiếp cận các thông tin thể thao cần thiết.
                    </p>
                    <a href="" class="btn btn-dark text-uppercase mt-1 py-3 px-5">
                        Khám Phá Ngay
                    </a>
                </div>
                <div class="col-lg-6 px-0 text-right">
                    <img class="img-fluid mt-5 mt-lg-0" src="static/img/header.jpg" alt="">
                </div>
            </div>
        </div>
        <!-- Header End -->

        <!-- About Start -->
        <div class="container-fluid py-5">
            <div class="container py-5">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <img class="img-fluid mb-4 mb-lg-0" src="static/img/about.jpg" alt="">
                    </div>
                    <div class="col-lg-6">
                        <h1 class="display-4 text-uppercase mb-4">
                            Giới Thiệu Nền Tảng
                        </h1>
                        <h5 class="text-uppercase text-primary mb-3">
                            Kết nối cộng đồng yêu thích thể thao
                        </h5>
                        <p class="mb-4">
                            Nền tảng được xây dựng nhằm giới thiệu và cập nhật thông tin về các hoạt động
                            thể thao và giải đấu. Người dùng có thể theo dõi tin tức, lịch trình và các
                            nội dung liên quan đến thể thao trong một giao diện trực quan và dễ sử dụng.
                        </p>
                        <a href="" class="btn btn-primary text-uppercase py-3 px-5">
                            Tìm Hiểu Thêm
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->

        <!-- Services Start -->
        <div class="container-fluid py-5">
            <div class="container pt-5 pb-3">
                <h1 class="display-4 text-uppercase text-center mb-5">
                    Dịch Vụ Thể Thao
                </h1>
                <div class="row">
                    <div class="col-lg-3 mb-2">
                        <div class="service-item rounded p-5 mb-4">
                            <i class="fa fa-3x fa-laptop-code text-primary mb-4"></i>
                            <h4 class="text-uppercase mb-4">
                                Thông Tin <span class="d-block text-body">Giải Đấu</span>
                            </h4>
                            <p class="m-0">
                                Cung cấp thông tin tổng quan về các giải đấu và hoạt động thể thao đang diễn ra.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-2">
                        <div class="service-item rounded p-5 mb-4">
                            <i class="fa fa-3x fa-code text-primary mb-4"></i>
                            <h4 class="text-uppercase mb-4">
                                Lịch Trình <span class="d-block text-body">Thi Đấu</span>
                            </h4>
                            <p class="m-0">
                                Cập nhật lịch trình các trận đấu và sự kiện thể thao một cách rõ ràng và dễ theo dõi.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-2">
                        <div class="service-item rounded p-5 mb-4">
                            <i class="fa fa-3x fa-envelope-open-text text-primary mb-4"></i>
                            <h4 class="text-uppercase mb-4">
                                Tin Tức <span class="d-block text-body">Thể Thao</span>
                            </h4>
                            <p class="m-0">
                                Tổng hợp các tin tức, thông báo và nội dung liên quan đến lĩnh vực thể thao.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-2">
                        <div class="service-item rounded p-5 mb-4">
                            <i class="fa fa-3x fa-edit text-primary mb-4"></i>
                            <h4 class="text-uppercase mb-4">
                                Nội Dung <span class="d-block text-body">Cộng Đồng</span>
                            </h4>
                            <p class="m-0">
                                Chia sẻ và cập nhật các nội dung thể thao, hướng đến xây dựng cộng đồng năng động.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Services End -->

        <!-- Portfolio Start -->
        <div class="container-fluid py-5">
            <div class="container pt-5 pb-3">
                <h1 class="display-4 text-uppercase text-center mb-5">
                    Hoạt Động & Sự Kiện Thể Thao
                </h1>
                <div class="row">
                    <div class="col-12 text-center mb-2">
                        <ul class="list-inline mb-4" id="portfolio-flters">
                            <li class="btn btn-outline-dark text-uppercase py-2 px-4 active" data-filter="*">
                                <i class="fa fa-star text-primary mr-2"></i>Tất Cả
                            </li>
                            <li class="btn btn-outline-dark text-uppercase py-2 px-4" data-filter=".first">
                                <i class="fa fa-running text-primary mr-2"></i>Hoạt Động
                            </li>
                            <li class="btn btn-outline-dark text-uppercase py-2 px-4" data-filter=".second">
                                <i class="fa fa-trophy text-primary mr-2"></i>Sự Kiện
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row portfolio-container">
                    <div class="col-lg-4 col-md-6 mb-4 portfolio-item first">
                        <div class="position-relative rounded overflow-hidden mb-2">
                            <img class="img-fluid w-100" src="static/img/portfolio-1.jpg" alt="">
                            <div class="portfolio-btn d-flex align-items-center justify-content-center">
                                <a href="static/img/portfolio-1.jpg" data-lightbox="portfolio">
                                    <i class="fa fa-4x fa-plus text-primary"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4 portfolio-item second">
                        <div class="position-relative rounded overflow-hidden mb-2">
                            <img class="img-fluid w-100" src="static/img/portfolio-2.jpg" alt="">
                            <div class="portfolio-btn d-flex align-items-center justify-content-center">
                                <a href="static/img/portfolio-2.jpg" data-lightbox="portfolio">
                                    <i class="fa fa-4x fa-plus text-primary"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4 portfolio-item first">
                        <div class="position-relative rounded overflow-hidden mb-2">
                            <img class="img-fluid w-100" src="static/img/portfolio-3.jpg" alt="">
                            <div class="portfolio-btn d-flex align-items-center justify-content-center">
                                <a href="static/img/portfolio-3.jpg" data-lightbox="portfolio">
                                    <i class="fa fa-4x fa-plus text-primary"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4 portfolio-item second">
                        <div class="position-relative rounded overflow-hidden mb-2">
                            <img class="img-fluid w-100" src="static/img/portfolio-4.jpg" alt="">
                            <div class="portfolio-btn d-flex align-items-center justify-content-center">
                                <a href="static/img/portfolio-4.jpg" data-lightbox="portfolio">
                                    <i class="fa fa-4x fa-plus text-primary"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4 portfolio-item first">
                        <div class="position-relative rounded overflow-hidden mb-2">
                            <img class="img-fluid w-100" src="static/img/portfolio-5.jpg" alt="">
                            <div class="portfolio-btn d-flex align-items-center justify-content-center">
                                <a href="static/img/portfolio-5.jpg" data-lightbox="portfolio">
                                    <i class="fa fa-4x fa-plus text-primary"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4 portfolio-item second">
                        <div class="position-relative rounded overflow-hidden mb-2">
                            <img class="img-fluid w-100" src="static/img/portfolio-6.jpg" alt="">
                            <div class="portfolio-btn d-flex align-items-center justify-content-center">
                                <a href="static/img/portfolio-6.jpg" data-lightbox="portfolio">
                                    <i class="fa fa-4x fa-plus text-primary"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio End -->



        <!-- Team Start -->
        <div class="container-fluid py-5">
            <div class="container py-5">
                <h1 class="display-4 text-uppercase text-center mb-5">
                    Đội Ngũ Của Chúng Tôi
                </h1>
                <div class="owl-carousel team-carousel position-relative" style="padding-left: 30px;">

                    <div class="team-item rounded overflow-hidden">
                        <div class="position-relative">
                            <img class="img-fluid w-100" src="static/img/team-1.jpg" alt="">
                            <div class="team-overlay">
                                <div class="d-flex align-items-center justify-content-start">
                                    <a class="btn btn-lg btn-primary btn-lg-square mx-1" href="#"><i
                                            class="fab fa-twitter"></i></a>
                                    <a class="btn btn-lg btn-primary btn-lg-square mx-1" href="#"><i
                                            class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-lg btn-primary btn-lg-square mx-1" href="#"><i
                                            class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="bg-light text-center p-4">
                            <h4 class="text-uppercase">Nguyễn Huỳnh Quang Minh</h4>
                            <p class="m-0">PM, PO</p>
                        </div>
                    </div>

                    <div class="team-item rounded overflow-hidden">
                        <div class="position-relative">
                            <img class="img-fluid w-100" src="static/img/team-2.jpg" alt="">
                            <div class="team-overlay">
                                <div class="d-flex align-items-center justify-content-start">
                                    <a class="btn btn-lg btn-primary btn-lg-square mx-1" href="#"><i
                                            class="fab fa-twitter"></i></a>
                                    <a class="btn btn-lg btn-primary btn-lg-square mx-1" href="#"><i
                                            class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-lg btn-primary btn-lg-square mx-1" href="#"><i
                                            class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="bg-light text-center p-4">
                            <h4 class="text-uppercase">Đỗ Thành Nhân</h4>
                            <p class="m-0">Designer, Coder</p>
                        </div>
                    </div>

                    <div class="team-item rounded overflow-hidden">
                        <div class="position-relative">
                            <img class="img-fluid w-100" src="static/img/team-3.jpg" alt="">
                            <div class="team-overlay">
                                <div class="d-flex align-items-center justify-content-start">
                                    <a class="btn btn-lg btn-primary btn-lg-square mx-1" href="#"><i
                                            class="fab fa-twitter"></i></a>
                                    <a class="btn btn-lg btn-primary btn-lg-square mx-1" href="#"><i
                                            class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-lg btn-primary btn-lg-square mx-1" href="#"><i
                                            class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="bg-light text-center p-4">
                            <h4 class="text-uppercase">Bùi Trí Tài</h4>
                            <p class="m-0">QC</p>
                        </div>
                    </div>

                    <div class="team-item rounded overflow-hidden">
                        <div class="position-relative">
                            <img class="img-fluid w-100" src="static/img/team-4.jpg" alt="">
                            <div class="team-overlay">
                                <div class="d-flex align-items-center justify-content-start">
                                    <a class="btn btn-lg btn-primary btn-lg-square mx-1" href="#"><i
                                            class="fab fa-twitter"></i></a>
                                    <a class="btn btn-lg btn-primary btn-lg-square mx-1" href="#"><i
                                            class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-lg btn-primary btn-lg-square mx-1" href="#"><i
                                            class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="bg-light text-center p-4">
                            <h4 class="text-uppercase">Nguyễn Hoàng Minh Quang</h4>
                            <p class="m-0">BA</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Team End -->

        <!-- Contact Start -->
        <div class="container-fluid py-5 px-0">
            <div class="row mt-5 mx-0">
                <div class="col-12 px-0" style="height: 500px;">
                    <div class="position-relative h-100">
                        <iframe class="position-relative w-100 h-100"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.999374492388!2d106.76046511458925!3d10.845832392274554!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175273f5a9b8c5f%3A0x4c6f7b6a4b0e5d6!2zVGjhu6cgxJDhu6ljLCBUUC4gSOG7kyBDaMOtIE1pbmg!5e0!3m2!1svi!2s!4v1700000000000"
                            frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
                        </iframe>
                    </div>
                </div>
            </div>

            <div class="row mx-0 justify-content-center" style="margin-top: -200px;">
                <div class="col-lg-6 col-md-8 col-sm-10 px-0">
                    <div class="contact-form bg-white rounded p-5">
                        <div id="success"></div>
                        <form name="sentMessage" id="contactForm" novalidate="novalidate">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="control-group">
                                        <input type="text" class="form-control bg-light border-0 p-4" id="name"
                                            placeholder="Họ và tên" required="required"
                                            data-validation-required-message="Vui lòng nhập họ và tên" />
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="control-group">
                                        <input type="email" class="form-control bg-light border-0 p-4" id="email"
                                            placeholder="Email" required="required"
                                            data-validation-required-message="Vui lòng nhập email" />
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                            </div>

                            <div class="control-group">
                                <input type="text" class="form-control bg-light border-0 p-4" id="subject"
                                    placeholder="Tiêu đề" required="required"
                                    data-validation-required-message="Vui lòng nhập tiêu đề" />
                                <p class="help-block text-danger"></p>
                            </div>

                            <div class="control-group">
                                <textarea class="form-control bg-light border-0 py-3 px-4" rows="5" id="message"
                                    placeholder="Nội dung tin nhắn" required="required"
                                    data-validation-required-message="Vui lòng nhập nội dung"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>

                            <div class="text-center">
                                <button class="btn btn-primary text-uppercase py-3 px-5" type="submit"
                                    id="sendMessageButton">
                                    Gửi Tin Nhắn
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact End -->



        <!-- Footer Start -->
        <%- include('partical/footercomponent'); %>
            <!-- Footer End -->


            <!-- Back to Top -->
            <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-up"></i></a>


            <!-- JavaScript lib/raries -->
            <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
            <script src="static/lib/easing/easing.min.js"></script>
            <script src="static/lib/waypoints/waypoints.min.js"></script>
            <script src="static/lib/owlcarousel/owl.carousel.min.js"></script>
            <script src="static/lib/isotope/isotope.pkgd.min.js"></script>
            <script src="static/lib/lightbox/js/lightbox.min.js"></script>

            <!-- Contact Javascript File -->
            <script src="static/mail/jqBootstrapValidation.min.js"></script>
            <script src="static/mail/contact.js"></script>

            <!-- Template Javascript -->
            <script src="static/js/main.js"></script>
</body>

</html>