<div class="container-fluid bg-white position-relative">
    <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0">
        <a href="index.html" class="navbar-brand text-secondary">
            <h1 class="display-4 text-uppercase">SPORT TOURNAMENT</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ml-auto py-0 pr-3 border-right">
                <a href="home" class="nav-item nav-link ">TRANG CHỦ</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">THỂ THAO</a>
                    <div class="dropdown-menu rounded-0 m-0">
                        <a href="football" class="dropdown-item">BÓNG ĐÁ</a>
                        <a href="update" class="dropdown-item">BÓNG RỔ</a>
                        <a href="update" class="dropdown-item">CẦU LÔNG</a>
                        <a href="update" class="dropdown-item">PICKLEBALL</a>
                    </div>
                </div>
                <a href="news" class="nav-item nav-link ">TIN TỨC</a>
                <a href="about" class="nav-item nav-link">GIỚI THIỆU</a>
                <a href="contact" class="nav-item nav-link">LIÊN HỆ</a>
                <a href="login" class="nav-item nav-link">ĐĂNG NHẬP</a>
            </div>
        </div>
    </nav>
</div>