<!DOCTYPE html>
<html lang="vi">

<head>
    <%- include('../partical/headercomponent'); %>
</head>

<body>
    <!-- Navbar Start -->
    <%- include('../partical/menucomponent'); %>
    <!-- Navbar End -->

    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 px-0" style="margin-bottom: 90px;">
        <div class="row mx-0 align-items-center">
            <div class="col-lg-6 px-md-5 text-center text-lg-left">
                <h1 class="display-2 text-uppercase mb-3">Đăng Ký Thành Công</h1>
            </div>
            <div class="col-lg-6 px-0 text-right">
                <img class="img-fluid mt-5 mt-lg-0" src="/static/img/header.jpg" alt="">
            </div>
        </div>
    </div>
    <!-- Header End -->

    <!-- Success Message Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <div class="bg-light p-5 rounded">
                        <i class="fa fa-check-circle text-success display-1 mb-4"></i>
                        <h2 class="display-4 text-uppercase mb-3">Cảm Ơn Bạn!</h2>
                        <p class="lead mb-4">Hồ sơ đăng ký đội bóng của bạn đã được gửi thành công. Ban tổ chức sẽ xem xét và liên hệ lại với bạn trong thời gian sớm nhất.</p>
                        <a href="/" class="btn btn-primary py-3 px-5 text-uppercase">Trở Về Trang Chủ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Success Message End -->

    <!-- Footer Start -->
    <%- include('../partical/footercomponent'); %>
    <!-- Footer End -->
</body>

</html>
